/*
  File: main.css
  Project: CommuniData
  Description: CSS Styles for the home app (main page)
*/

/* Global Styles */

body {
    background: #fafafa;
    color: #333333;
    padding-top: 180px;
    font-family: Raleway, sans-serif;
  }
  
  ul {
    margin: 0;
  }
  
  .bg-steel {
    background-color: #B3DDF2;
  }
  
  
  
  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .article-title {
    color: #444444;
  }
  
  a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }

/* Header Styles */

.site-header {
    background-color: #B3DDF2;
}
.navbar-container {
    padding: 10px;
    margin: auto 10px;
}
img {
  width: 120px; 
  height: auto; 
}
.header-link {
  color: #083D77;
  font-family: Raleway, sans-serif;
  font-weight: 900;
}

.header-link:hover .star-indicator {
  color: #FF4747;
  display: inline-block;
}

.header-link .star-indicator {
  display: none;
}

.login-star-indicator {
  color: #FF4747;
  padding: 10px;
}

.login-button {
  padding: 10px 20px;
  font-size: 1em; /* Example size, adjust as needed */
  width: 100px;
  border-radius: 50px;
  color: #083D77;
}

/* Landing Page Styles */

/* Hero Section Styles */

.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}

.hero-content {
  max-width: 50%;
  text-align: center;
}

.hero-content h1 {
  font-size: 2.5em; /* Example size, adjust as needed */
  font-weight: 800;
  color: #083D77;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 1.1em; /* Example size, adjust as needed */
  font-weight: 500;
  color: #083D77;
  margin-bottom: 30px;
}

.hero-cta-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.cta-button {
  padding: 10px 20px;
  font-size: 1em; /* Example size, adjust as needed */
  color: white;
  background-color: #083D77;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.hero-content .login-button {
  padding: 10px 20px;
  border-color: #083D77;
}

.cta-button:hover {
  background-color: #FF4747; /* Darken button on hover */
}

.hero-image {
  max-width: 45%;
}

.hero-image img {
  width: 100%; /* Make image responsive */
  height: auto;
  border-radius: 5%;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .hero-section {
    flex-direction: column;
  }

  .hero-content,
  .hero-image {
    max-width: 100%;
    margin-bottom: 20px;
  }
}


/* Reviews/Partners Section Styles */

.collapsible-section {
  margin: 0 auto;
  width: 98%;
  text-align: center;
}

.collapsible-section .collapsible-button {
  background-color: #083D77; 
  color: white;
  padding: 18px;
  font-size: 1.5em;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  width: 50%;
  align-items: center;
  text-transform: bold;
  margin-bottom: 0; /* Remove extra space */
}

.active, .collapsible-button:hover {
  background-color: #003d82; /* Darken button on active/hover */
}

.content {
  padding: 30px;
  border-radius: 45px;
  display: none;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #083D77;
  text-align: center;
}

.reviews {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.review-card {
  background-color: #083D77;
  color: #B3DDF2;
  padding: 10px;
  margin: 20px;
  border-radius: 5px;
  display: inline-block;
  vertical-align: top;
  flex: 1 0 30%;
  max-width: 100%;
}

.review-card h3 {
  color: #B3DDF2;
  font-size: 1.5em;
  font-weight: 300;
  padding: 30px;
  margin-top: 0;
  border-radius: 4px 4px 0 0; /* Only round the top corners */
}

.review-card p {
  color: #B3DDF2;
  font-size: 1.1em;
  font-weight: 100;
  margin-bottom: 0;
}

.review-btn {
  background-color: #01735C;
  border-color: white;
  border-width: 5px;
  color: white;
  font-weight: 500;
  padding: 10px 20px;
  font-size: 1em; /* Example size, adjust as needed */
  border-radius: 12px;
  cursor: pointer;
}

.partners {
  margin-top: 20px; /* Spacing between testimonials and logos */
  padding: 30px;
  background-color: white;
  border-radius: 45px;
}

.partner-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.partner-logo {
  display: inline-block;
  margin: 10px;
  background-color: white; /* Logos likely need to stand out against dark background */
  padding: 10px;
  border-radius: 4px;
}

.partner-logo img {
  max-width: 200px; /* Or whatever size fits your design */
  width: auto;
  height: auto;
}

/* Title for Data Sources and Partners */
.partners h2 {
  font-size: 1.5em;
  color: #083D77;
  font-weight: 800;
  margin-bottom: 20px;
}

/* You may want to add responsiveness */
@media (max-width: 768px) {
  .testimonial-card {
    width: 100%; /* Stack on small screens */
    margin: 20px 0; /* Adjust margins for stacking */
  }
}

/* Features Section Styles */

.features-section {
  max-width: 1200px; /* Max width of the section */
  margin: 40px auto; /* Center the section */
  padding: 40px 0; /* Top and bottom padding */
}

.feature-row {
  display: flex;
  align-items: center; /* Align items vertically */
  margin-bottom: 20px; /* Space between feature rows */
  flex-wrap: wrap; /* Ensure responsiveness */
}

.feature-text, .feature-image {
  flex: 1; /* Each takes up half the width of the container */
  padding: 20px; /* Padding around text and images */
  color: #083D77; /* Text color */
}

.feature-text h3 {
  font-weight: 500;
  margin-bottom: 15px; /* Space below the title */
}

.feature-text p {
  font-weight: 100;
  line-height: 1.6; /* Line height for paragraph */
}

.feature-image {
  text-align: center; /* Center the image */
}

.feature-image img {
  max-width: 100%; /* Ensures the image is responsive */
  width: 50%;
  border-radius: 10px;
  height: auto; /* Maintain aspect ratio */
}

/* Responsive styling for smaller screens */
@media (max-width: 768px) {
  .feature-row {
    flex-direction: column; /* Stack elements on top of each other */
  }

  .feature-text, .feature-image {
    flex-basis: 100%; /* Each takes up the full width */
  }

  .feature-image {
    order: -1; /* Image comes before text */
  }
}


/* Call to Action and Contact Form Section Styles */

.cta-section {
  background-image: linear-gradient(to bottom, #fafafa, #b3ddf2); /* Vertical gradient from white to light blue */
  text-align: center; /* Centered text */
  padding: 50px 20px; /* Padding around the section */
  color: #083D77; /* Dark text for contrast */
}

.cta-section h2 {
  font-size: 2em; /* Large font size for the heading */
  font-weight: 500;
  margin-bottom: 30px; /* Spacing under the heading */
}

.cta-section .cta-button {
  background-color: #083D77; /* Dark blue background */
  color: white;
  padding: 10px 30px;
  border: none;
  border-radius: 50px; /* Rounded edges */
  font-size: 1.5em;
  cursor: pointer;
  margin-bottom: 30px;
}

.cta-button:hover {
  background-color: #FF4747; /* Slightly darker on hover */
}

.intro-text {
  margin-bottom: 30px; /* Spacing under the introductory text */
}

.contact-form {
  max-width: 500px; /* Set a max-width for the form */
  margin: auto; /* Center the form */
}

.contact-form input,
.contact-form textarea {
  width: 100%; /* Full width */
  padding: 10px; /* Padding inside inputs */
  margin-bottom: 20px; /* Spacing under inputs */
  border: 1px solid #ccc; /* Border color */
  border-radius: 20px; /* Rounded edges for inputs */
}

.contact-form .submit-button {
  background-color: #083D77; /* Dark blue background */
  color: white;
  padding: 10px 30px;
  border: none;
  border-radius: 50px; /* Rounded edges */
  font-size: 1em;
  cursor: pointer;
  width: 50%; /* Full width */
  box-sizing: border-box; /* Border included in width */
}

.contact-form .submit-button:hover {
  background-color: #FF4747; /* Slightly darker on hover */
}


/* Footer Styles */

.site-footer {
  background-color: #B3DDF2; /* Dark blue background */
  color: #083D77; /* Light text for contrast */
  padding: 0 20px; /* Padding around the footer */
  text-align: center; /* Centered text */
}

.footer-content {
  display: flex;
  justify-content: space-between; /* Space out the content */
  align-items: center; /* Align items vertically */
  flex-wrap: wrap; /* Wrap content on smaller screens */
}

.footer-logo {
  width: 100px; /* Adjust size as needed */
  height: auto; /* Maintain aspect ratio */
  margin-bottom: 20px; /* Spacing under the logo */
}

.social-media {
  flex: 1; /* Take up one-third of the space */
  margin-bottom: 20px; /* Spacing under the links */
}

.social-media i {
  font-size: 1.5em; /* Adjust size as needed */
  margin: 0 10px; /* Spacing between icons */
}

.footer-contact {
  flex: 1; /* Take up one-third of the space */
  margin-bottom: 20px; /* Spacing under the contact information */
}