{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CDN --> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <!-- Project links -->
    <link rel="stylesheet" href="{% static 'home/css/main.css' %}">
    <script type="text/javascript" src="{% static 'home/js/script.js' %}"></script>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">    

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/9451864d27.js" crossorigin="anonymous"></script>

</head>
<body>

    <!-- Navbar/Header -->
    <header class="site-header">
        <nav class="navbar navbar-expand-md bg-steel fixed-top">
            <div class="container navbar-container">
                <a class="navbar-brand mr-4" href="{% url 'home' %}">  <img class = "logo" src="{% static 'home/CD_Logo.jpeg'%}" alt="CommuniData Logo"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <div class="d-flex w-100">
                    <!-- Navbar Left Side -->
                        <div class="navbar-nav mr-auto align-items-center">
                            <a class="nav-item nav-link header-link" href="{% url 'home' %}#section1">
                                <i class="fa-solid fa-star star-indicator"></i>
                                What are they saying?
                                <i class="fa-solid fa-star star-indicator"></i>
                            </a>
                            <a class="nav-item nav-link header-link" href="{% url 'home' %}#section2">
                                <i class="fa-solid fa-star star-indicator"></i>
                                How's it work?
                                <i class="fa-solid fa-star star-indicator"></i>
                            </a>
                            <a class="nav-item nav-link header-link" href="{% url 'home' %}#section3">
                                <i class="fa-solid fa-star star-indicator"></i>
                                Who are we?
                                <i class="fa-solid fa-star star-indicator"></i>
                            </a>
                        </div>
                    </div>
                    <!-- Navbar Right Side -->
                    <div class="navbar-nav ml-auto align-items-center">
                        <i class="fa-solid fa-star login-star-indicator"></i>
                        <button type="button" class="btn btn-light login-button">Log in!</button>
                        <i class="fa-solid fa-star login-star-indicator"></i>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <!-- Hero Section -->

    <section class="hero-section">
        <div class="hero-content">
            <h1>Empower Your Communities with Data</h1>
            <p>Making economic data accessible and actionable for every community has never been easier. Discover insights into new businesses wealth distribution, and more to unlock your community's full potential.</p>
            <div class="hero-cta-buttons">
                <button class="btn btn-primary cta-button">Get started now!</button>
                <button class="btn btn-outline login-button">Log In</button>
            </div>
        </div>
        <div class="hero-image">
            <img src="{% static 'home/img/hero-image.png' %}" alt="Hero Image">
        </div>
    </section>

    <!-- Reviews and Partners Section -->

    <section class="collapsible-section">
        <button class="collapsible-button">What are they saying?</button>
        <div class="content">
            <div class="reviews">
                <!-- Insert review content here -->
                <div class="review-card">
                    <button class="btn btn-primary review-btn">HUMBOLDT PARK</button>
                    <h3>“ Exporting reports from CommuniData is a breeze, which makes our grant writing and reporting process so much more efficient. 
                        It’s not just a time-saver; it’s a lifesaver!”</h3>
                    <p>-
                        Malcom Crawford
                        CEO at AAABNA</p>
                </div>
                <div class="review-card">
                    <button class="btn btn-primary review-btn">ENGLEWOOD</button>
                    <h3>“ I’ve been blown away by how much easier it is to track the growth and challenges within our community 
                        since we started using CommuniData. It’s like having a bird’s-eye view of where we stand and where we can 
                        improve.”</h3>
                    <p>-
                        Felicia Slaton
                        Executive Director at GEChamber</p>
                </div>
                <div class="review-card">
                    <button class="btn btn-primary review-btn">SOUL CITY</button>
                    <h3>“ This platform is phenomenal for getting a clear picture of economic health in our community. 
                        Visualizing the data makes complex information easy to understand and act upon. 
                        A must-have tool for any community-focused organization! ”</h3>
                    <p>-
                        Honorio Torres
                        Director of Business Initiatives at PRCC</p>
                </div>
            </div>
            <div class="partners">
                <h2>Data Sources and Partners</h2>
                <div class="partner-logos">
                    <!-- Insert partner logos here -->
                    <div class="partner-logo">
                        <img src="{% static 'home/img/gec-logo.png' %}" alt="Company 1">
                    </div>
                    <div class="partner-logo">
                        <img src="{% static 'home/img/prcc-logo.png' %}" alt="Company 2">
                    </div>
                    <div class="partner-logo">
                        <img src="{% static 'home/img/aaabna-logo.png' %}" alt="Company 3">
                    </div>
                    <div class="partner-logo">
                        <img src="{% static 'home/img/chi-logo.png' %}" alt="Company 4">
                    </div>
                    <div class="partner-logo">
                        <img src="{% static 'home/img/cdp-logo.png' %}" alt="Company 5">
                    </div>
                    <div class="partner-logo">
                        <img src="{% static 'home/img/wbc-logo.png' %}" alt="Company 6">
                    </div>
                </div>
            </div>
        </div>
    </section>
      

    <section class="call-to-action">
        <h2>Call to Action</h2>
        <p>Place your call to action message here.</p>
        <button class="register-button">Register</button>
        <p class="contact-link">Looking for custom options? <a href="contact.html">Contact us</a></p>
    </section>

    <footer>
        <div class="logo"></div>
        <div class="social-media">
            <img src="facebook.png" alt="Facebook">
            <img src="twitter.png" alt="Twitter">
            <img src="instagram.png" alt="Instagram">
        </div>
        <p>&copy; 2020 Company Name</p>

        <!-- Bootstrap JS CDN -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>
